footer{
    background-color: #E3E3E3;
    width: 1200px;
    margin: 0 auto;
    text-align: center;
    font-family: 'Nunito Sans', sans-serif;
}
.socialImages{
    padding: 100px 0 50px;
    font-size: 40px;
}
.fab{
    margin: 0 20px;
}
.footerLogo{
    width: 147px;
}
.footerTexts{
    display: flex;
    margin: 0 auto;
    text-align: left;
    justify-content: center;
    width: 100%;
}
.footerText{
    margin: 60px;
}
.textHeader{
    font-size: 18px;
    font-weight: 900;
    margin: 0;
}
.text{
    font-size: 16px;
    margin: 0px;
}
