
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap');
@import url("./main_image.css");
@import url("./navigation.css");
@import url("/css/gallery.css");
 @import url("./aboutus.css");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  font-family: 'Nunito Sans', sans-serif;
}
img{
    width: 100%;
    height: auto;
}
.wrapper{
    max-width: 1200px;
    margin: 0 auto;
}